/* .hd {
  border-color: red;
  border-width: 3px;
  border-style: solid;
  /* width: 660px; */
  /* color: goldenrod;
  height: 70px;
} */

.loginButton {
  float: left;
}

.CustomerLoginButton {
  float: right;
}
